.mouse-button-container {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.mouse-button {
  width: 30%;
  height: 100%;
  display: inline-block;
  padding: 0px;
  margin-right: 5%;
}

.mouse-button:last-of-type {
  margin-right: 0%;
}

.mouse-button:nth-child(2n + 1) {
  background-color: #e05620;
}

.mouse-button:nth-child(2n) {
  background-color: #66260d;
}

.mouse-button.mouse-button__down {
  background-color: #efefef;
}
